<div class="wrapper">
    <div class="bag">
        <h1>Servicios Disponibles Para Tí</h1>
    </div>
    <p>Junto con tu reservación tendrás acceso a los siguientes beneficios</p>

    <div class="content-box">
        <div class="card">
            <i class="fa-solid fa-mug-saucer"></i>
            <h2>Desayuno Continental</h2>
            <p>
                Desayuno completo para darte toda la energía que necesitarás durante tu visita.
            </p>
        </div>
        <div class="card">
            <i class="fa-solid fa-kitchen-set"></i>
            <h2>Acceso A Cocina</h2>
            <p>
                Cocina completa y moderna para que prepares tus comidas favoritas durante tu estadía.
            </p>
        </div>
        <div class="card">
            <i class="fa-solid fa-chair"></i>
            <h2>Al Aire Libre</h2>
            <p>
                Increibles espacios al aire libre para que lo disfrutes con toda comodidad.
            </p>
        </div>
        <div class="card">
            <i class="fa-solid fa-pump-soap"></i>
            <h2>Accesorios De Limpieza</h2>
            <p>
                Accesorios de aseo Personal y limpieza diaria para que disfurtes de un ambiente sano.
            </p>
        </div>
        <div class="card">
            <i class="fa-solid fa-people-roof"></i>
            <h2>Buen Ambiente</h2>
            <p>
                Espacios creados para que tú viaje sea excepcional, nuestro equipo estará para ayudarte en lo que necesites.
            </p>
        </div>
        <div class="card">
            <i class="fa-solid fa-square-parking"></i>
            <h2>Parking</h2>
            <p>
                Parquadero de 2 plazas disponibles con buena seguridad para tu vehículo.
            </p>
        </div>
    </div>
</div>